<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/wallet_img2_removebg"
        android:label="E-Wallet"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTask"
        tools:targetApi="31">

        <activity android:name=".WelcomeEwalletActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".BottomSheetActivity" />
        <activity android:name=".WelcomeLoginActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".CreatePasswordActivity" />
        <activity android:name=".SuccessCreateActivity" />
        <activity android:name=".SuccessBoxActivity" />

        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>